@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/*Estilos Genelares*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    font-family: "Montserrat", sans-serif;
    color: #4d4d4d;
}

h1 {font-size: 2.5rem;}
h2 {
    font-size: 2rem;
    font-weight: 500;
}
h4 {font-size: 1.5rem;}

p{
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.5;
    font-weight: 300;
}

a{
    text-decoration: none;
}

/*Estilos Clases*/

.contenedor{
    margin: auto;max-width: 1300px;
    overflow: auto;
    padding: 0 20px;
}

.descripcion{
    font-size: 1.25rem;
}

.textOtroColor{
    color: #A372C3;
}

.display1{
    font-size: 4rem;
}

.btn{
    display: inline-block;
    font-size: 15px;
    padding: 12px 23px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 4px;
} 

.btn-round{
    border-radius: 20px;
}

.btn-dark{
    background: #A372C3;
    border: 1px solid #A372C3;
    color: #fff;
}

.btn-dark:hover{
    background: #B59EF0;
    color: #fff;
}

/*Header*/

#mainHeader{
    background: radial-gradient(at 10% 10px, #A372C3, #fff, #fff );
    height: 100vh;
}

/*Navbar*/

#navbar{
    color: #fff;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#navbar a{
    color: #4d4d4d;
}

#navbar .logo{
    float: left;
    padding-top: 16px;
    font-size: 18px;
}

#navbar ul{
    list-style: none;
    float: right;
}

#navbar ul li{
    float: left;
}

#navbar ul li a{
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover{
    color: #B59EF0;
}

/*ShowCase*/

#showCase{
    padding: 80px 0;
}

.showCaseRow{
    display: flex;
    padding: 150px 0;
}

.showCaseRowTitulo p.descripcion{
    padding-bottom: 15px;
}