@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/*Estilos Genelares*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    font-family: "Montserrat", sans-serif;
    color: #4d4d4d;
}

h1 {font-size: 2.5rem;}
h2 {
    font-size: 2rem;
    font-weight: 500;
}
h4 {font-size: 1.5rem;}

p{
    font-size: 1rem;
    margin: 10px 0;
    line-height: 17em;
    font-weight: 300;
}

a{
    text-decoration: none;
}
