@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/*Estilos Genelares*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    font-family: "Montserrat", sans-serif;
    color: #4d4d4d;
}

h1 {font-size: 2.5rem;}
h2 {
    font-size: 2rem;
    font-weight: 500;
}
h4 {font-size: 1.5rem;}

p{
    font-size: 1rem;
    margin: 10px 0;
    line-height: 17em;
    font-weight: 300;
}

a{
    text-decoration: none;
}

/*Estilos Clases*/

.contenedor{
    margin: auto;max-width: 1300px;
    overflow: auto;
    padding: 0 20px;
}

.large{
    font-size: 1.25rem;
}

.textOtroColor{
    color: #A372C3;
}

.display1{
    font-size: 4rem;
}

.btn{
    display: inline-block;
    font-size: 15px;
    padding: 12px 23px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 4px;
} 

.btn-round{
    border-radius: 20px;
}

.btn-dark{
    background: #A372C3;
    border: 1px solid #A372C3;
    color: #fff;
}

.btn-dark:hover{
    background: #B59EF0;
    color: #fff;
}